.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  transition: background-color 0.4s;
  background-color: #ffffff;
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  box-shadow: inset 0 -1px 0 0 #dadce0;
  z-index: 999;
  padding: 5px 10px;
  align-items: center;
}
.logo {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.logo > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.logo > div > span {
  font-size: 2rem;
  font-weight: 700;
}
.logo > div > span:first-child {
  color: #fe6e6e;
}
.logo > div > span:nth-child(2) {
  color: #ffc67d;
}
.logo > div > span:nth-child(3) {
  color: #34e3be;
}
.logo > div > span:last-child {
  color: #cb96ed;
}
.header-search {
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
    0 1px 3px 1px rgba(65, 69, 73, 0.15);
  border-radius: 8px;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
}
